html, body{
    height: 100svh;
}
*{
    margin: 0;
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#body{
    position: relative;
    /* height: 550px;  
    width: 1040px; */
    height: 100%;
    width: 100%;
}

#canvas_container{
    /* flex: 1; */

    height: 100%;
    width: 100%;

    border: 1px solid black;
}

.instruction{
    position: absolute;
    top: 1em;
    left: 1em;
}

#manac, #healthc, #expc{
    z-index: 100;
    position: relative;
    /* --toptop:20px;   */
    position: absolute;
    /* bottom: .4em;
    left: .7em; */
    /* top: auto; */
    /* left: auto; */
    /* right: auto; */
    /* bottom: auto; */

    color: white;
    background-color: red;
    width: 200px;
    height: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#manac{
    /* top: calc(var(--toptop) + 25px); */
    background-color: black;
}

#expc{
    /* top: calc(var(--toptop) + 25px); */
    /* left: 400px; */
    background-color: black;
}

#mbar, #hbar, #expbar{
    position: absolute;
    width: 200px;
    height: 20px;

    top: 0;
    left: 0;

    z-index: 0;
}

#mbar{
    background-color: blue;
}
#hbar{
    background-color: green;
}
#expbar{
    background-color: grey;
}

#health, #mana, #exp{
    z-index: 1;
}

canvas{
    /* background-color: black; */
    z-index: -1;
}