html, body{
    height: 100svh;
}
*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

#body{
    position: relative;
    height: 500px;
    width: 1000px;
}

#canvas_container{
    /* flex: 1; */

    height: 100%;
    width: 100%;

    border: 1px solid black;
}

.instruction{
    position: absolute;
    top: 1em;
    left: 1em;
}